<footer class="site-footer">



    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
  <div class="foot-wrap">
    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1"> -->
        <ul class="contact-list">
          <li>Dave Chenell</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="http://twitter.com/davechenell">twitter</a></li>
          <li><a href="https://superrare.co/chenell">superrare</a></li>
          <li><a href="http://dribbble.com/dchen">dribbble</a></li>
          <li><a href="http://instagram.com/dchen">instagram</a></li>
          <li><a href="http://www.normcore.io">normalvr</a></li>

        </ul>
      <!-- </div> -->

      <!-- <div class="footer-col footer-col-2"> -->
        <!-- <ul class="social-media-list"> -->
<!--           {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} -->

          <!-- {% if site.twitter_username %} -->
          <!-- <li> -->
            <!-- {% include icon-twitter.html username=site.twitter_username %} -->
          <!-- </li> -->
          <!-- {% endif %} -->
        <!-- </ul> -->
      <!-- </div> -->

      <!-- <div class="footer-col footer-col-3"> -->
        <!-- <p>{{ site.description }}</p> -->
      <!-- </div> -->
    </div>
  </div>



</footer>
